<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Demos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"/>
        <activity android:name=".launchativ"/>
        <receiver android:name=".customBroadcastReceiver" android:exported= "true" android:enabled="true">
            <intent-filter>
                <action android:name="com.aimiris.demos.blah"/>
            </intent-filter>
        </receiver>
        <activity android:name=".Register"/>
        <activity android:name=".Login"/>
        <activity android:name=".ResearchMovieActivity"/>
        <activity android:name=".SimilarMovies"/>
        <activity android:name=".SimilarMovies2"/>
        <activity android:name=".SimilarFavMovies"/>
        <activity android:name=".FavouritesActivity"/>
        <activity android:name=".MovieAdapter"/>

        <service
            android:name=".MyService"
            android:exported="true"
            android:foregroundServiceType= "mediaPlayback"/>

        <service
            android:name=".MyServiceBind"
            android:exported="true"
            android:foregroundServiceType= "specialUse"/>

    </application>

</manifest>